@import url(https://fonts.google.com/specimen/Barlow);
@import url(https://fonts.google.com/specimen/Fraunces);
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./images/desktop/image-header.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 900px;
  font-family: "Fraunces", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logo {
  color: white;
  font-weight: 900;
  padding-left: 3rem;
  margin-right: 36rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  padding-right: 3rem;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
#contact-btn {
  padding: 1rem 1.5rem;
  font-weight: 700;
  border-radius: 1.5rem;
  border: 0;
  display: flex;
  justify-content: space-around;
}
header h1 {
  color: white;
  letter-spacing: 6px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40.2rem;
  font-style: initial;
  /* font-family: "Barlow", sans-serif; */
  font-size: 40px;
  /* font-weight: bold; */
  font-family: 'Mochiy Pop P One', sans-serif;
}

.section {
  display: flex;
}
#section-one {
  height: 500px;
}
#section-two {
  height: 500px;
}
#egg-pgf {
  width: 50%;
  padding: 8rem;
}
#egg-pgf p{
   line-height: 2rem;
   color: gray;
   margin: 2rem 0 3rem 0;
}
#egg-pgf a{
   color:black;
   font-weight:bold;
   text-decoration-color: rgb(248, 209, 138);
   text-decoration-thickness: 4px;
}
#egg {
  width: 50%;
}
#egg img {
  height: 500px;
  width: 100%;
}

#cup img {
  width: 100%;
  height: 500px;
}
#cup {
  width: 50%;
}

#cup-pgf {
  width: 50%;
  padding: 8rem;
}
#cup-pgf p{
   line-height: 2rem;
   color: gray;
   margin: 2rem 0 3rem 0;
}
#cup-pgf a{
   color:black;
   font-weight:bold;
   text-decoration-color:rgb(247, 167, 143);
   text-decoration-thickness: 4px;
}

.section3 {
  width: 50%;
  height: 600px;
}
.section3 img {
  width: 100%;
}
#orange-pgf {
   padding: 6rem 8rem 6rem 8rem;
   margin-top: -18rem;
  line-height: 2rem;
  text-align: center;
  color: rgb(29, 94, 124);
}

#cerise-pgf {
  padding: 6rem 8rem 6rem 8rem;
  margin-top: -18rem;
  line-height: 2rem;
  text-align: center;
  color:rgb(33, 128, 120)
}

#clients {
  padding: 6rem;
}
#client-title {
  text-align: center;
  padding-top: 6rem;
  font-family: "Fraunces", Times, serif;
  letter-spacing: 6px;
  color: grey;
}
.client {
  text-align: center;
  margin: 2rem 2rem 0rem 2rem;
  line-height: 2rem;
}
.client img {
  border-radius: 70px;
  margin-bottom: 4rem;
}

#section-img {
  display: flex;
}
#section-img img {
  width: 25%;
}

footer {
  height: 15rem;
  /* background:rgb(156, 184, 211); */
  background: hsl(168, 33%, 68%);
  text-align: center;
  color: hsl(168, 39%, 35%);
  font-weight: bold;
}
#footer-title {
  padding: 2rem;
}
#footer-list {
  display: flex;
  justify-content: center;
}
footer ul li {
  list-style: none;
  padding-bottom: 2rem;
}
footer ul li a {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
  padding-right: 2rem;
  padding-left: 2rem;
}
#footer-img img {
  padding: 0.75rem;
}
